# Virtual Environment
venv/
env/
docs/

#Log file
LogFile.log

#Build Folder
build/
dist/
*.spec

# .venv (commonly used by poetry)
.venv/




# venv virtual environment
__pycache__/
*.pyc
*.pyo
*.pyd
*.db